/* TailwindCSS base styles */
// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';

body {
font-family: 'Roboto', sans-serif;
background-color: #f7f7f7;
}
  
header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button.p-button {
  transition: background-color 0.3s;
}

button.p-button:hover {
  background-color: #04559c;
}

footer {
  background-color: #222;
}