<div class="mt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
  @for (acomodacao of acomodacoes.data; track acomodacao.id) {
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <img
        [src]="getImageUrl(acomodacao)"
        [alt]="acomodacao.cidade || 'Imagem da acomodação'"
        class="w-full h-48 object-cover"
      />
      <div class="p-6">
        <h4 class="text-xl font-semibold text-gray-800">
          {{ acomodacao.cidade + ' | ' + acomodacao.estado}}
        </h4>
        <p class="text-gray-600">{{ acomodacao.descricao }}</p>
        <p class="text-lg text-blue-600 mt-2">
          R$ {{ acomodacao.precoPorNoite }} / noite
        </p>

        <button 
          pButton 
          type="button" 
          label="Reservar Agora" 
          (click)="reservar(acomodacao)" 
          class="p-button-sm p-button-warning mt-4 w-full">
        </button>
      </div>
    </div>
  } @empty {
    <p class="text-gray-600">Nenhuma acomodação disponível no momento.</p>
  }
</div>

<!-- Seção de Paginação -->
<div class="flex justify-center items-center mt-6">
  <button pButton type="button" label="Anterior" (click)="paginaAnterior()"
    [disabled]="acomodacoes.currentPage === 1" class="p-button-outlined mr-2"></button>
  
  <ng-container *ngFor="let page of pages; trackBy: trackByPage">
    <button
      pButton
      type="button"
      [label]="page.toString()"
      (click)="mudarPagina(page)"
      [ngClass]="{
        'p-button-primary': acomodacoes.currentPage === page,
        'p-button-outlined': acomodacoes.currentPage !== page
      }"
      class="mr-2">
    </button>
  </ng-container>
  
  <button pButton type="button" label="Próxima" (click)="proximaPagina()"
    [disabled]="acomodacoes.currentPage === acomodacoes.totalPages" class="p-button-outlined"></button>
</div>
