<div class="max-w-md mx-auto bg-white p-6 rounded-xl shadow-lg">
    <h2 class="text-xl font-bold text-center mb-4">Cadastre-se</h2>
  
    <form [formGroup]="usuarioForm" (ngSubmit)="cadastrar()">
      <div class="mb-4">
        <label [attr.for]="nomeCompleto"  class="block text-sm font-medium mb-1">Nome Completo</label>
        <input pInputText formControlName="nomeCompleto" class="w-full p-2 border rounded-lg">
      </div>
  
      <div class="mb-4">
        <label [attr.for]="email" class="block text-sm font-medium mb-1">E-mail</label>
        <input pInputText formControlName="email" type="email" class="w-full p-2 border rounded-lg">
      </div>
  
      <div class="mb-4">
        <label [attr.for]="telefone" class="block text-sm font-medium mb-1">Telefone</label>
        <input pInputText formControlName="telefone" type="tel" class="w-full p-2 border rounded-lg">
      </div>
  
      <div class="mb-4">
        <label [attr.for]="cpf" class="block text-sm font-medium mb-1">CPF</label>
        <input pInputText formControlName="cpf" class="w-full p-2 border rounded-lg">
      </div>
  
      <button pButton type="submit" label="Cadastrar" class="w-full bg-blue-500 text-white p-2 rounded-lg"></button>
    </form>
  </div>
