<div class="flex items-center justify-center min-h-screen bg-gray-100 p-4">
  <div class="bg-white p-6 rounded-lg shadow-md w-full max-w-lg">
    <h3 class="text-xl font-semibold text-gray-800 mb-4">Cadastro de Cliente - Teste Dados Básicos</h3>
    
    <form (ngSubmit)="onSubmit()" class="space-y-6">
      <!-- Nome Completo -->
      <div>
        <label for="nomeCompleto" class="block text-sm font-medium text-gray-700">Nome Completo</label>
        <input 
          type="text"
          id="nomeCompleto" 
          pInputText
          [(ngModel)]="user().nomeCompleto" 
          (input)="onInputChange($event, 'nomeCompleto')" 
          name="nomeCompleto"
          class="p-inputtext p-2 w-full border rounded-md"
          required 
        />
      </div>

      <!-- Email -->
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
        <input 
          type="email"
          id="email" 
          pInputText
          [(ngModel)]="user().email" 
          (input)="onInputChange($event, 'email')" 
          name="email"
          class="p-inputtext p-2 w-full border rounded-md"
          required 
        />
      </div>
<!-- Senha -->
<div>
  <label for="senha" class="block text-sm font-medium text-gray-700">Senha</label>
  <input 
    type="password"
    id="senha"
    pInputText
    [(ngModel)]="user().senha"
    name="senha"
    class="p-inputtext p-2 w-full border rounded-md"
    required
  />
</div>

<!-- Confirmar Senha -->
<div>
  <label for="confirmarSenha" class="block text-sm font-medium text-gray-700">Confirmar Senha</label>
  <input 
    type="password"
    id="confirmarSenha"
    pInputText
    [(ngModel)]="user().confirmarSenha"
    name="confirmarSenha"
    class="p-inputtext p-2 w-full border rounded-md"
    required
  />
</div>

      <!-- Telefone -->
      <div>
        <label for="telefone" class="block text-sm font-medium text-gray-700">Telefone</label>
        <p-inputMask 
          id="telefone" 
          name="telefone"
          mask="(99) 99999-9999" 
          [(ngModel)]="user().telefone"
          (onInput)="onInputChange($event, 'telefone')"
          [styleClass]="'w-full p-2 border border-gray-300 rounded-md'"
          required>
        </p-inputMask>
      </div>
      <!-- CPF -->
      <div>
        <label for="cpf" class="block text-sm font-medium text-gray-700">CPF</label>
        <p-inputMask  
          id="cpf" 
          name="cpf"
          mask="999.999.999-99" 
          [(ngModel)]="user().cpf"
          (onInput)="onInputChange($event, 'cpf')"
          [styleClass]="'w-full p-2 border border-gray-300 rounded-md'"
          required>
        </p-inputMask>
      </div>

      <!-- Botão de Envio -->
      <div>
        <button 
          pButton 
          type="submit" 
          label="Cadastrar" 
          class="p-button-lg w-full"
        ></button>
      </div>
    </form>
  </div>
</div>